@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Ubuntu';
}

.icon {
    background-color: rgb(30, 210, 204);
    float: left;
    padding-left: 20px;
    padding-top: 6px;
    width: 25px;
    height: 25px;
}

.navbar {
    background-color: rgb(30, 210, 204);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    max-height: initial;
}

li {
    display: inline-block;
}

.navitem {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(138, 0, 0);
}

.navitem:hover {
    background-color: rgb(0, 180, 174);
}

.navitem:active {
    background-color: rgb(0, 150, 144);
}

.imgbtn {
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    cursor: default;
}

.dropdown-content {
    display: none;
    background-color: rgb(83, 83, 83);
    color: white;
    width: 120px;
    padding: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

a {
    color: rgb(0, 0, 220);
    text-decoration: none;
}